# FinFlow/env.example – Template
ENV=<dev|prod>
DEBUG=<True|False>

POSTGRES_USER=pg_finflow
POSTGRES_PASSWORD=<plain_password>
POSTGRES_DB=finflow_db
POSTGRES_HOST=<localhost|postgres>
POSTGRES_PORT=5432

REDIS_USER=redis_finflow
REDIS_PASSWORD=<plain_password>
REDIS_HOST=<localhost|redis>
REDIS_PORT=6379

BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>
